@media (max-width: 1439px) {
  .W_OfferLeft {
    height: 612px;
    padding-left: calc((100vw - 944px) / 2);
  }

  .U_BestOffer {
    height: 612px;
  }

  .W_OfferRight {
    height: 612px;
    padding-right: calc((100vw - 944px) / 2);
  }

  .A_OfferNewLogo {
    width: auto;
    max-width: none;
    height: 40px;
    max-height: 40px;
  }

  .A_OfferNewLogo {
    width: 57.43px;
    max-width: 57.43px;
    height: 50px;
    max-height: 50px;
  }
}

@media (max-width: 1023px) {
  .W_Offers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
    transition: transform 0.4s ease;
  }

  .W_OfferLeft {
    padding-left: 24px;
  }

  .W_OfferRight {
    padding-right: 24px;
  }

  .W_Offer.U_BestOffer {
    order: -1;
  }

  .W_Offer.W_OfferRight {
    order: 2;
  }

  .W_Offer.W_OfferLeft {
    order: 1;
  }

  .O_Offers {
    padding: 40px 0px 0px 0px;
  }

  .W_Offer {
    min-width: 100%;
  }

  .U_Floating {
    padding: 0 24px;
    padding-right: 100px;
  }

  .W_MobileNavigation {
    padding: 0 24px;
  }

  .W_MobileNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .W_Mobilecounter {
    display: flex;
    flex-direction: row;
    gap: 6.86px;
  }

  .W_Switchers {
    width: fit-content;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .U_LeftOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .U_RightOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .A_Mobilecount {
    font-size: 44px;
    color: #d8d8d8;
  }

  .U_Slash {
    font-weight: 100;
  }
  .U_Dynamic {
    color: #131313;
  }

  .W_RowHistoryTitleButton {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 24px;
    padding-left: 24px !important;
  }

  .M_HistoryItem {
    padding: 24px;
  }

  .W_OfferLeft {
    padding-left: 24px;
  }

  .W_OfferRight {
    padding-right: 24px;
  }

  .U_Floating {
    padding: 0 24px;
  }

  .W_MobileNavigation {
    padding: 0 24px;
  }

  .map {
    /*height: 720px;*/
    height: 400px;
  }

  .map_desktop-hide {
    display: block;
  }

  .map_mobile-show {
    display: none;
  }

  .O_Offers {
    overflow-x: hidden;
  }

  .W_Offers {
    transition: all 0.3s ease-in-out;
  }

  .Q_OfferDivHorizontal {
    display: none;
  }

  .W_Offer {
    min-width: 100%;
  }

  .W_MobileNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: -20px;
  }

  .U_LeftOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .W_Switchers {
    width: fit-content;
  }

  .A_Mobilecount {
    font-size: 44px;
    color: #d8d8d8;
  }

  .U_Slash {
    font-weight: 100;
  }

  .U_Dynamic {
    color: #131313;
  }

  .W_Mobilecounter {
    display: flex;
    flex-direction: row;
    gap: 6.86px;
  }

  .U_RightOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }
}

@media (max-width: 768px) {
  .flex-height {
    aspect-ratio: 16 / 9;
  }

  .project {
    &:is(.kuvekino) {
      background-image: url('/card/kuvekino_mobile.jpg');
    }
    &:is(.senkino) {
      background-image: url('/card/senkino_mobile.jpg');
    }
    &:is(.balashiha) {
      background-image: url('/card/balashiha_mobile.jpg');
    }
    &:is(.sokolovo) {
      background-image: url('/card/sokolovo_mobile.jpg');
    }
    &:is(.tokarevo) {
      background-image: url('/card/tokarevo_mobile.jpg');
    }
    &:is(.butovo) {
      background-image: url('/card/butovo_mobile.jpg');
    }
  }

  .main-slider {
    background-image: url('https://static.tildacdn.com/tild6336-6430-4637-b233-353937323832/MainSliderMobileBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 28px;
    line-height: 30px;
  }
  .number {
    font-size: 42px;
    line-height: 42px;
  }
  .text {
    font-size: 16px;
    line-height: 20px;
  }

  .number_text {
    font-size: 14px;
    line-height: 15px;
    text-align: start;
  }

  .feature {
    width: 90vw;
  }

  .feature.group:hover > div {
    transform: inherit !important;
  }

  .feature.group:hover p {
    opacity: inherit !important;
  }

  .feature.group.active > div[class*='-translate-y-'] {
    transform: translateY(-100px) !important;
  }

  .feature.group.active p[class*='opacity-0'] {
    opacity: 1 !important;
  }

  /* .translate-y-[-100px] {
    --tw-translate-y: calc(-100px * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  } */

  .openBtn {
    width: 26px;
    height: 18px;
  }

  .advantage {
    margin-left: 16px;
    overflow: visible;

    &:is(.first) {
      background-image: url('https://optim.tildacdn.com/tild3361-3737-4036-b664-336334633764/-/format/webp/arenda_advantages_01.jpg.webp');
    }
    &:is(.second) {
      background-image: url('https://optim.tildacdn.com/tild3231-3662-4333-b839-636264396532/-/format/webp/arenda_advantages_02.jpg.webp');
    }
    &:is(.third) {
      background-image: url('https://optim.tildacdn.com/tild6533-3932-4664-a533-623730353930/-/format/webp/arenda_advantages_03.jpg.webp');
    }
    &:is(.fourth) {
      background-image: url('https://optim.tildacdn.com/tild6363-3364-4762-b364-313538393666/-/format/webp/arenda_advantages_04.jpg.webp');
    }
  }

  .resident {
    margin-left: 16px;
    overflow: visible;

    &:is(.first) {
      background-image: url('https://optim.tildacdn.com/tild3933-6538-4339-a236-323538646236/-/format/webp/residents_01.jpg.webp');
    }

    &:is(.second) {
      background-image: url('https://optim.tildacdn.com/tild3765-3337-4133-b764-366537303862/-/format/webp/residents_02.jpg.webp');
    }

    &:is(.third) {
      background-image: url('https://optim.tildacdn.com/tild3763-3930-4639-a430-346135666566/-/format/webp/residents_03.jpg.webp');
    }

    &:is(.fourth) {
      background-image: url('https://optim.tildacdn.com/tild6530-3136-4333-b464-373930363231/-/format/webp/residents_04.jpg.webp');
    }

    &:is(.fifth) {
      background-image: url('https://optim.tildacdn.com/tild6332-3335-4866-a464-636666383261/-/format/webp/residents_05.jpg.webp');
    }
  }

  .row_text {
    font-size: 12px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .galleryItem {
    margin-left: 0;

    &:is(.first) {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .project:hover {
    .growing {
      position: relative;
      height: 382px;
      transition: 0.3s ease-in-out;
      opacity: 1;
    }

    .plus {
      img {
        &:nth-child(1) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
        &:nth-child(2) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .growing.kuvekino {
      background-color: var(--kuvekino-color);
    }
    .growing.balashiha {
      background-color: var(--balashiha-color);
    }
    .growing.senkino {
      background-color: var(--senkino-color);
    }
    .growing.sokolovo {
      background-color: var(--sokolovo-color);
    }
    .growing.tokarevo {
      background-color: var(--tokarevo-color);
    }
    .growing.butovo {
      background-color: var(--butovo-color);
    }

    .plus {
      background-color: white;
      transition: background-color 0.3s;
    }

    p.data {
      display: flex;
      animation: goingUp 0.5s forwards;
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      animation-delay: 0.1s;

      &:nth-child(1) {
        animation-delay: 0.15s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.05s;
      }
    }

    .content {
      transition: 0.3s;
      pointer-events: auto;
    }
  }
}

@media (max-width: 767px) {
  .project.active {
    .growing {
      position: relative;
      height: 382px !important;
      transition: 0.3s ease-in-out;
      opacity: 1;
    }

    .plus {
      img {
        &:nth-child(1) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
        &:nth-child(2) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .growing.kuvekino {
      background-color: var(--kuvekino-color);
    }
    .growing.balashiha {
      background-color: var(--balashiha-color);
    }
    .growing.senkino {
      background-color: var(--senkino-color);
    }
    .growing.sokolovo {
      background-color: var(--sokolovo-color);
    }
    .growing.tokarevo {
      background-color: var(--tokarevo-color);
    }
    .growing.butovo {
      background-color: var(--butovo-color);
    }

    .plus {
      background-color: white;
      transition: background-color 0.3s;
    }

    p.data {
      display: flex;
      animation: goingUp 0.5s forwards;
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      animation-delay: 0.1s;

      &:nth-child(1) {
        animation-delay: 0.15s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.05s;
      }
    }

    .content {
      transition: 0.3s;
      pointer-events: auto;
    }
  }
}
