@media (max-width: 1439px) {
  .W_OfferLeft {
    height: 612px;
    padding-left: calc((100vw - 944px) / 2);
  }

  .U_BestOffer {
    height: 612px;
  }

  .W_OfferRight {
    height: 612px;
    padding-right: calc((100vw - 944px) / 2);
  }

  .A_OfferNewLogo {
    width: auto;
    max-width: none;
    height: 40px;
    max-height: 40px;
  }

  .A_OfferNewLogo {
    width: 57.43px;
    max-width: 57.43px;
    height: 50px;
    max-height: 50px;
  }
}

@media (max-width: 1023px) {
  .W_Offers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
    transition: transform 0.4s ease;
  }

  .W_OfferLeft {
    padding-left: 24px;
  }

  .W_OfferRight {
    padding-right: 24px;
  }

  .W_Offer.U_BestOffer {
    order: -1;
  }

  .W_Offer.W_OfferRight {
    order: 2;
  }

  .W_Offer.W_OfferLeft {
    order: 1;
  }

  .O_Offers {
    padding: 40px 0px 0px 0px;
  }

  .W_Offer {
    min-width: 100%;
  }

  .U_Floating {
    padding: 0 24px;
    padding-right: 100px;
  }

  .W_MobileNavigation {
    padding: 0 24px;
  }

  .W_MobileNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .W_Mobilecounter {
    display: flex;
    flex-direction: row;
    gap: 6.86px;
  }

  .W_Switchers {
    width: fit-content;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .U_LeftOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .U_RightOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .A_Mobilecount {
    font-size: 44px;
    color: #d8d8d8;
  }

  .U_Slash {
    font-weight: 100;
  }
  .U_Dynamic {
    color: #131313;
  }

  .W_RowHistoryTitleButton {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 24px;
    padding-left: 24px !important;
  }

  .M_HistoryItem {
    padding: 24px;
  }

  .W_OfferLeft {
    padding-left: 24px;
  }

  .W_OfferRight {
    padding-right: 24px;
  }

  .U_Floating {
    padding: 0 24px;
  }

  .W_MobileNavigation {
    padding: 0 24px;
  }

  .map {
    /*height: 720px;*/
    height: 400px;
  }

  .map_desktop-hide {
    display: block;
  }

  .map_mobile-show {
    display: none;
  }

  .O_Offers {
    overflow-x: hidden;
  }

  .W_Offers {
    transition: all 0.3s ease-in-out;
  }

  .Q_OfferDivHorizontal {
    display: none;
  }

  .W_Offer {
    min-width: 100%;
  }

  .W_MobileNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: -20px;
  }

  .U_LeftOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }

  .W_Switchers {
    width: fit-content;
  }

  .A_Mobilecount {
    font-size: 44px;
    color: #d8d8d8;
  }

  .U_Slash {
    font-weight: 100;
  }

  .U_Dynamic {
    color: #131313;
  }

  .W_Mobilecounter {
    display: flex;
    flex-direction: row;
    gap: 6.86px;
  }

  .U_RightOffer {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    border-radius: 100px;
    border: 1px solid #131313;
  }
}

@media (max-width: 768px) {
  .flex-height {
    aspect-ratio: 16 / 9;
  }

  .project {
    &:is(.kuvekino) {
      background-image: url('/card/kuvekino_mobile.jpg');
    }
    &:is(.senkino) {
      background-image: url('/card/senkino_mobile.jpg');
    }
    &:is(.balashiha) {
      background-image: url('/card/balashiha_mobile.jpg');
    }
    &:is(.sokolovo) {
      background-image: url('/card/sokolovo_mobile.jpg');
    }
    &:is(.tokarevo) {
      background-image: url('/card/tokarevo_mobile.jpg');
    }
    &:is(.butovo) {
      background-image: url('/card/butovo_mobile.jpg');
    }
  }

  .main-slider {
    background-image: url('https://static.tildacdn.com/tild6336-6430-4637-b233-353937323832/MainSliderMobileBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 28px;
    line-height: 30px;
  }

  .whiteMobile {
    color: var(--white);
  }

  .number {
    font-size: 42px;
    line-height: 42px;
  }
  .text {
    font-size: 16px;
    line-height: 20px;
  }

  .number_text {
    font-size: 14px;
    line-height: 15px;
    text-align: start;
  }

  .feature {
    width: 90vw;
  }

  .feature.group:hover > div {
    transform: inherit !important;
  }

  .feature.group:hover p {
    opacity: inherit !important;
  }

  .feature.group.active > div[class*='-translate-y-'] {
    transform: translateY(-100px) !important;
  }

  .feature.group.active p[class*='opacity-0'] {
    opacity: 1 !important;
  }

  /* .translate-y-[-100px] {
    --tw-translate-y: calc(-100px * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  } */

  .openBtn {
    width: 26px;
    height: 18px;
  }

  .advantage {
    margin-left: 16px;
    overflow: visible;

    &:is(.firstMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3438-3339-4539-b365-346563633762/-/format/webp/arenda_advantage_01.jpg.webp');
    }
    &:is(.secondMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3931-6437-4231-b334-373733326131/-/format/webp/arenda_advantage_02.jpg.webp');
    }
    &:is(.thirdMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild6166-3930-4837-a533-313936383632/-/format/webp/arenda_advantage_03.jpg.webp');
    }
    &:is(.fourthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3038-3935-4630-b966-636663313461/-/format/webp/arenda_advantage_04.jpg.webp');
    }

    &:is(.first) {
      background-image: none;
    }

    &:is(.second) {
      background-image: none;
    }

    &:is(.third) {
      background-image: none;
    }

    &:is(.fourth) {
      background-image: none;
    }
  }

  .resident {
    margin-left: 16px;
    overflow: visible;

    &:is(.firstMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild6238-3732-4932-b965-373365373839/-/format/webp/resident_01_mobile.jpg.webp');
    }

    &:is(.secondMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3437-3238-4834-a465-323739313137/-/format/webp/resident_02_mobile.jpg.webp');
    }

    &:is(.thirdMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3062-3736-4530-a438-393735373334/-/format/webp/resident_03_mobile.jpg.webp');
    }

    &:is(.fourthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild6135-6638-4834-b535-313265653439/-/format/webp/resident_04_mobile.jpg.webp');
    }

    &:is(.fifthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild6435-3832-4539-b066-373437393462/-/format/webp/resident_06_mobile.jpg.webp');
    }

    &:is(.sixthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3339-3563-4235-a137-653537343437/-/format/webp/resident_07_mobile.jpg.webp');
    }

    &:is(.seventhMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3065-6132-4961-b931-613463353930/-/format/webp/resident_05_mobile.jpg.webp');
    }

    &:is(.eighthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild6664-6266-4365-a339-663230386337/-/format/webp/resident_08_mobile.jpg.webp');
    }

    &:is(.ninthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3839-3762-4531-a164-646562376132/-/format/webp/resident_09_mobile.jpg.webp');
    }

    &:is(.tenthMobile) {
      margin-left: 0px;
      background-image: url('https://optim.tildacdn.com/tild3036-6332-4561-a432-646465336265/-/format/webp/resident_10_mobile.jpg.webp');
    }

    &:is(.first) {
      background-image: none;
    }

    &:is(.second) {
      background-image: none;
    }

    &:is(.third) {
      background-image: none;
    }

    &:is(.fourth) {
      background-image: none;
    }

    &:is(.fifth) {
      background-image: none;
    }

    &:is(.sixth) {
      background-image: none;
    }

    &:is(.seventh) {
      background-image: none;
    }

    &:is(.eighth) {
      background-image: none;
    }

    &:is(.ninth) {
      background-image: none;
    }

    &:is(.tenth) {
      background-image: none;
    }
  }

  .row_text {
    font-size: 12px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .galleryItem {
    margin-left: 0;

    &:is(.first) {
      margin-left: 0;
    }
  }

  .residentMobileText {
    margin-top: 428px;
  }

  .loti_fotka {
    background-image: url('https://optim.tildacdn.com/tild3830-6334-4636-a437-646636386164/-/format/webp/arenda_loti_mobile.jpg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
  }

  .button {
    &.whiteBGMobile {
      background-color: var(--white);
      color: var(--pikBlack);
    }
  }

  .thirdSlide {
    background-image: url('https://optim.tildacdn.com/tild6239-3761-4330-b265-643438626131/-/format/webp/arendaCarouselMobile.jpg.webp');
  }

  .secondSlide {
    background-image: url('https://optim.tildacdn.com/tild3661-6534-4664-a132-656130303639/-/format/webp/arendaCarouselMobile.jpg.webp');
  }

  .firstSlide {
    background-image: url('https://optim.tildacdn.com/tild6632-3130-4135-a663-333562663438/-/format/webp/arendaCarouselMobile.jpg.webp');
  }
}

@media (min-width: 768px) {
  .project:hover {
    .growing {
      position: relative;
      height: 382px;
      transition: 0.3s ease-in-out;
      opacity: 1;
    }

    .plus {
      img {
        &:nth-child(1) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
        &:nth-child(2) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .growing.kuvekino {
      background-color: var(--kuvekino-color);
    }
    .growing.balashiha {
      background-color: var(--balashiha-color);
    }
    .growing.senkino {
      background-color: var(--senkino-color);
    }
    .growing.sokolovo {
      background-color: var(--sokolovo-color);
    }
    .growing.tokarevo {
      background-color: var(--tokarevo-color);
    }
    .growing.butovo {
      background-color: var(--butovo-color);
    }

    .plus {
      background-color: white;
      transition: background-color 0.3s;
    }

    p.data {
      display: flex;
      animation: goingUp 0.5s forwards;
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      animation-delay: 0.1s;

      &:nth-child(1) {
        animation-delay: 0.15s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.05s;
      }
    }

    .content {
      transition: 0.3s;
      pointer-events: auto;
    }
  }
}

@media (max-width: 767px) {
  .project.active {
    .growing {
      position: relative;
      height: 382px !important;
      transition: 0.3s ease-in-out;
      opacity: 1;
    }

    .plus {
      img {
        &:nth-child(1) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
        &:nth-child(2) {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .growing.kuvekino {
      background-color: var(--kuvekino-color);
    }
    .growing.balashiha {
      background-color: var(--balashiha-color);
    }
    .growing.senkino {
      background-color: var(--senkino-color);
    }
    .growing.sokolovo {
      background-color: var(--sokolovo-color);
    }
    .growing.tokarevo {
      background-color: var(--tokarevo-color);
    }
    .growing.butovo {
      background-color: var(--butovo-color);
    }

    .plus {
      background-color: white;
      transition: background-color 0.3s;
    }

    p.data {
      display: flex;
      animation: goingUp 0.5s forwards;
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      animation-delay: 0.1s;

      &:nth-child(1) {
        animation-delay: 0.15s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.05s;
      }
    }

    .content {
      transition: 0.3s;
      pointer-events: auto;
    }
  }
}
